@{
    ViewData["Title"] = "Result Page";
}
<div class="OutlinedBox">
	<div class="leftColumn">
		Name: <br>
		Dojo Location: <br>
		Favorite Language: <br>
		Comment:
	</div>
	<div class="rightColumn">
		@ViewBag.Name<br>
		@ViewBag.DojoLocation<br>
		@ViewBag.favLanguage<br>
		@ViewBag.Comment
	</div>
</div>
